{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliFit - Home</title>
    <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
</head>

<body>
    <header class="header">''
        <a href="{% url 'home' %}" class="logo-container">
            <h1 class="site-name">IntelliFit</h1>
        </a>
        <div class="nav-buttons">
            <a href="{% url 'login' %}" class="nav-btn login">Login</a>
            <a href="{% url 'register' %}" class="nav-btn">Cadastrar</a>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        <div class="content-container">
            <div class="logo-big">
                <img src="{% static 'global/img/logo_no_background.png' %}" alt="IntelliFit Logo Grande">
            </div>
            <div class="text-container">
                <h1>Treine seu corpo, alimente sua mente.</h1>
                <p>O equilíbrio perfeito entre <strong>dieta</strong> e <strong>treino inteligente</strong> para sua saúde.</p>
                <a href="{% url 'register' %}" class="cta-btn">Comece Agora</a>
            </div>
        </div>
        {% endblock %}
    </main>
</body>
</html>